.solidBlack {
  @mixin font-heading02;
  padding: 0 var(--size_07);
  height: 44px;
  background-color: var(--color_black_01);
  border-radius: 4px;
  color: var(--color_white_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
}

.solidWhite {
  @mixin font-heading02;
  padding: 0 var(--size_07);
  height: 44px;
  background-color: var(--color_white_01);
  border-radius: 4px;
  color: var(--color_black_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
}

.solidGrey {
  @mixin font-heading02;
  padding: 0 var(--size_07);
  height: 44px;
  background-color: rgba(249, 248, 243, 0.2);
  border-radius: 4px;
  color: var(--color_white_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
}

.outlineBlack {
  @mixin font-heading02;
  padding: 0 var(--size_07);
  height: 44px;
  background-color: inherit;
  border-radius: 4px;
  color: var(--color_black_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--color_black_01);
  line-height: 1;
}

.sizeMedium {
  width: auto;
  height: 36px;
}

.radioButton {
  @mixin font-heading03;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--color_white_01);
    margin-right: var(--size_06);
  }

  &:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color_white_01);
    left: 7px;
    opacity: 1;
    transition: opacity 0.2s;
  }

  &.inactive {
    &:before {
      border-color: var(--color_white_02);
    }
    &:after {
      opacity: 0;
    }
  }
}
