.wrapper {
  padding-top: var(--headerHeightMobile);
  @media (--md) {
    padding-top: var(--headerHeight);
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @mixin container-standard;
  padding-top: var(--size_10);
  padding-bottom: var(--size_10);
  @media (--md) {
    padding-top: var(--size_11);
    padding-bottom: var(--size_11);
  }
}

.heading {
  max-width: var(--container_02);
}

.filters {
  padding-top: var(--size_10);
  text-align: right;
}

.title {
  @mixin font-heading02;
  font-weight: 400;
}

.description {
  @mixin font-heading04;
  margin-top: var(--size_08);
}

.productGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--size_10);
  margin-bottom: var(--size_10);

  @media (--md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}
