.wrapper {
  position: fixed;
  width: 100%;
  height: var(--headerHeightMobile);
  padding-left: var(--containerMargin);
  padding-right: var(--containerMargin);
  background-color: var(--color_white_01);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.leftContainer {
  display: flex;
}

.brand {
  display: flex;
  justify-content: center;
}

.nav {
  display: none;
}

.nav a {
  font-size: var(--font_body_01);
}

.rightContainer {
  display: flex;
  justify-content: flex-end;
}

@media (--md) {
  .wrapper {
    height: var(--headerHeight);
    background-color: inherit;
  }
  .leftContainer {
    display: none;
  }

  .brand {
    justify-content: flex-start;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: var(--size_09);
  }
}
